USE [SMSDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/30/2026 12:55:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 1/30/2026 12:55:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Course] [int] NOT NULL,
	[MobileNumber] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Email], [DateOfBirth], [Course], [MobileNumber]) VALUES (1, N'Anil Patil', N'anil@gmail.com', CAST(N'1999-01-01 00:00:00.000' AS DateTime), 3, N'8796489335')
INSERT [dbo].[Students] ([Id], [Name], [Email], [DateOfBirth], [Course], [MobileNumber]) VALUES (2, N'Pravin Kamble', N'pr@gmail.com', CAST(N'2000-09-09 00:00:00.000' AS DateTime), 0, N'9090908989')
INSERT [dbo].[Students] ([Id], [Name], [Email], [DateOfBirth], [Course], [MobileNumber]) VALUES (6, N'Sam', N'sam@gmail.com', CAST(N'2023-09-08 00:00:00.000' AS DateTime), 1, N'8978675645')
SET IDENTITY_INSERT [dbo].[Students] OFF
